# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

backend/known_faces/
backend/tests

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.*
!.env.example
!.env.*.example
!.env.sample
!.env.*.sample
!.env.template
!.env.*.template

venv/
.venv/
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

# Python service
python-service/**/__pycache__/
python-service/*.pyc
python-service/.venv/
python-service/data/

**/__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

.idea/

public/

node_modules/

# Socket server
socket-server/node_modules/

# Local Netlify folder
.netlify
